*/src/laravel/.phpunit.cache
*/src/laravel/node_modules
*/src/laravel/public/build
*/src/laravel/public/hot
*/src/laravel/public/storage
*/src/laravel/storage/*.key
*/src/laravel/vendor
*/src/laravel.env
*/src/laravel.env.backup
*/src/laravel.env.production
*/src/laravel.phpunit.result.cache
*/src/laravelHomestead.json
*/src/laravelHomestead.yaml
*/src/laravelauth.json
*/src/laravelnpm-debug.log
*/src/laravelyarn-error.log
/.fleet
/.idea
/.vscode
*/mysql.sock

/databases/
